
.categorias__content {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     background-color: rgba(20, 255, 255, 0.521);
     margin: 20px;
     padding-top: 20px;
     padding-bottom: 20px;
     
}

.categorias__content img {

    width: 300px;
}