@use "../abstracts/variables";

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    
}

.footer__content {
    padding: 20px;
    padding-top: 70px;
}

.footer__link {

    padding-top: 20px;
    
}

.footer__img{

    height: 100px;
    padding: 10px;
}

.content__title {
    padding: 10px;
}

.footer__link a{
    color: rgb(173, 2, 196);

}

.footer__link a:hover{
    color: rgb(255, 255, 255);

}