

.main__intro {
    text-align:end;
    padding: 20px;
    margin: 20px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/009/009/854/non_2x/grioovy-psychedelic-wave-background-for-banner-design-retro-60s-70s-psychedelic-pattern-modern-wave-retro-abstract-design-rainbow-60s-70s-hippie-vector.jpg);
}

.main__texto {
    background-color: rgba(0, 0, 0, 0.753);

}

.main__intro p {

    color: white;
    padding: 10px;
}

.main__titulo--card {
    text-align: center;
}

.salto__discos {
    display: flex;
    justify-content:space-around;

}

.salto {
    width: 100px;
}

