
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


h1 {
    padding: 10px;
    color: white;
    font-family: "Rock Salt", cursive;
}

h2{
    text-align: center;
    font-family: "Rock Salt", cursive;
}

p {
    font-family: "Raleway", sans-serif;
}

h3  {
    text-align: center;
}

